/*================typography======================*/

@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@font-face {
  font-family: luis;
  src: url(./font/Intrepid.ttf);
}
@font-face {
  font-family: helvetica;
  src: url(./font/Helvetica.ttf);
}
@font-face {
  font-family: helvetica-light;
  src: url(./font/helvetica-light.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.full-container {
  width: 100%;
}

.container {
  padding: 0 35px;
}

body {
  color: #19110b;
  font-family: luis, sans-serif;
}

a {
  color: #19110b;
}

button:hover {
  cursor: pointer;
}

/*=========================header==============================*/
.header {
  padding: 30px 0;
  border-bottom: 1px solid #eae4e4;
  position: relative;
}
  /*main menu*/
.header .menu {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(101, 91, 91, 0.56);
  z-index: 1;
  height: 100vh;
  width: 100vw;
  transition: all 0.7s ease-in-out;
}
.header .menu .pos_fix {
  width: 400px;
  background: #fff;
}
.header .menu ul {
  text-transform: capitalize;
  padding: 30px;
}
.header .menu ul li {
  margin-top: 20px;
  font-size: 24px;
}
.header .menu ul li:hover {
  text-decoration: underline;
}
.header .menu_inner {
  overflow: scroll;
  height: calc(100vh - 50px);
}
.header .menu ul.sub_menu {
  padding: 30px;
  border-top: 1px solid #e7e6e6;
}
.header .menu ul.sub_menu li {
  font-size: 16px;
}
.header .modal .close {
  padding: 30px;
  padding-bottom: 0;
}
.header .modal .close button {
  background: none;
  border: none;
}
.header .modal .close button i {
  margin-right: 8px;
  font-size: 16px;
}
  /*search box*/
.header .search_page {
  display: none;
  position: fixed;
  top: 0;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  transition: all 0.7s ease-in-out;
}
.header .search_inner__top {
  padding: 25px 40px 25px 200px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gainsboro;
}
.header .search_inner__top .form {
  width: 65%;
  position: relative;
}
.header .search_inner__top .form input {
  border: none;
  width: 100%;
  padding: 15px;
  background-color: #F6F5F3;
  border-radius: 4px;
  padding-left: 41px;
}
.header .search_page .form button {
  position: absolute;
  background: none;
  border: none;
  font-size: 16px;
  color: #575656;
  top: 12px;
  left: 15px;
}
.header .search_inner__top .close button {
  background: none;
  border: none;
  font-size: 20px;
  color: #464545;
}
.header .search_inner__btm {
  display: flex;
}
.header .search_inner__btm .options {
  display: flex;
}
.header .search_inner__btm .options .options_single {
  width: 50%;
}
.header .search_inner__btm__left {
  padding: 45px 38px;
  padding-right: 0;
  border-right: 1px solid gainsboro;
}
.header .search_inner__btm .options h3 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 16px;
}
.header .search_inner__btm .options ul li {
  margin-top: 30px;
}
.header .search_inner__btm__left .posts {
  padding-top: 40px;
}
.header .search_inner__btm__left .posts .post {
  margin-top: 25px;
  display: flex;
  gap: 25px;
}
.header .search_inner__btm__left .posts h3 {
  font-weight: normal;
  font-size: 15px;
}
.header .search_inner__btm__left .posts h4 {
  font-weight: normal;
  margin-bottom: 5px;
  text-transform: uppercase;
  max-width: 400px;
}
.header .search_inner__btm__left .posts p {
  color: #4a4949;
}
.header .search_inner__btm__left .posts .post .thumb {
  width: 30%;
}
.header .search_inner__btm__left .posts .post .thumb img {
  width: 100%;
}
.header .search_inner__btm__single {
  width: 50%;
}
.header .search_inner__btm__right {
  padding: 45px 38px;
}
.header .search_inner__btm__right h3 {
  font-weight: normal;
  font-size: 17px;
  margin-bottom: 21px;
}
.header .search_inner__btm__right .products {
  display: flex;
  flex-wrap: wrap;
}
.header .search_inner__btm__right .products .product {
  width: 48%;
  display: flex;
  gap: 25px;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 2%;
}
.header .search_inner__btm__right .products .product .thumb {
  width: 102px;
  min-width: 102px;
  background: linear-gradient(to bottom, #d9d6d6, #f4f4f4);
}
.header .search_inner__btm__right .products .product .thumb img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header .search_inner__btm__right .products .product h4 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
}

  /*right side menu*/
.header .lv {
  display: none;
  transition: all 0.7s ease-in-out;
}
.header .r_menu {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(101, 91, 91, 0.56);
  z-index: 1;
  height: 100vh;
  width: 100vw;
}
.header .r_menu .r_menu_inner {
  width: 459px;
  background: #fff;
  position: absolute;
  right: 0;
  display: block;
  overflow: scroll;
  height: 100vh;
}
.header .r_menu .rtp {
  display: flex;
  justify-content: space-between;
  padding-left: 35px;
  text-transform: uppercase;
  font-size: 23px;
  align-items: center;
  border-bottom: 1px solid gainsboro;
}
.header .r_menu .rtp_single:last-of-type {
  padding: 30px;
  border-left: 1px solid gainsboro;
  color: #3c3a3a;
  padding-bottom: 23px;
}
.header .r_menu .rtp_single:last-of-type:hover {
  cursor: pointer;
}
.header .r_menu .lv_body {
  padding: 38px;
  border-bottom: 1px solid gainsboro;
}
.header .r_menu .lv_body h4, .header .r_menu .lv_btm h4 {
  text-transform: uppercase;
  font-size: 17px;
  font-family: sans-serif;
}
.header .r_menu form label {
  font-size: 15px;
  margin-top: 25px;
  display: inline-block;
  margin-bottom: 8px;
}
.header .r_menu form input {
  width: 100%;
  padding: 12px;
  border: 1px solid gainsboro;
}
.header .r_menu form a {
  margin-top: 5px;
  display: inline-block;
  margin-bottom: 25px;
}
.header .r_menu form input[type=submit] {
  background-color: #000000;
  color: white;
  font-size: 15px;
  font-family: helvetica;
}
.header .r_menu form input[type=submit]:hover {
  cursor: pointer;
}
.header .r_menu .lv_btm {
  padding: 38px;
}
.header .r_menu .lv_btm p {
  margin: 30px 0;
  font-family: helvetica-light;
  letter-spacing: 0.3px;
  color: #1e1e1e;
}
.header .r_menu .lv_btm button {
  width: 100%;
  padding: 15px;
  background-color: black;
  color: white;
  font-family: helvetica;
}

  /*filter menu*/
.header .filter_menu {
  display: none;
  transition: all 0.7s ease-in-out;
}
.header .filter_menu__mid {
  padding: 38px;
}
.header .filter_menu__mid__top {
  display: flex;
  justify-content: space-between;
  margin: 24px 0;
  font-size: 20px;
  font-family: sans-serif;
}
.header .filter_menu__mid__btm__row {
  display: flex;
  gap: 8px;
}
.header .filter_menu__mid__btm__row img {
  width: 100%;
}
.header .filter_menu__mid__btm__row__item {
  border: 1px solid gainsboro;
  padding: 8px;
  margin-bottom: 8px;
}
.header .filter_menu__mid__btm__row__item h6 {
  font-weight: normal;
}
.header .filter_body {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 90px);
  justify-content: space-between;
}
.header .filter_menu__btm {
  padding: 20px 36px;
  box-shadow: 0px 0px 18px #e1dfdf;
}
.header .filter_menu__btm button {
  background-color: #000000;
  border: none;
  width: 100%;
  padding: 17px;
  color: white;
  font-size: 14px;
}
.header .filter_menu .filter_menu_inner {
  width: 550px;
}
.header .active {
  display: block;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__inner__item__mid img {
  width: 220px;
}
.header__inner__item ul {
  display: flex;
}
.header__inner__item ul li {
  font-size: 14px;
}
.header__inner__item ul li:hover {
  cursor: pointer;
}
.header__inner__item ul li i {
  margin-right: 10px;
  color: #595454;
}
.header__inner__item ul li:first-child {
  margin-right: 30px;
}

/*sub header*/
.sub_header {
  padding: 30px 0;
  position: sticky;
  top: 0;
}
.sub_header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sub_header__inner h1 {
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.5px;
}
.sub_header__inner__right .filter {
  padding: 10px 18px;
  border-radius: 25px;
  background: transparent;
  border: 1px solid #bbb9b9;
  display: flex;
  align-items: center;
  gap: 3px;
}
.sub_header__inner__right .filter img {
  width: 16px;
}
.sub_header__inner__right .filter:hover {
  cursor: pointer;
}
.sub_header .modal {
  display: none;
}

/*================================hero==================================*/
.hero {
  background: url("./img/hero.jpg") no-repeat;
  background-size: auto;
  background-size: cover;
  color: #ffffff;
  padding-top: 435px;
  padding-bottom: 45px;
}
.hero h2 {
  font-family: sans-serif;
  font-size: 22px;
  margin-bottom: 35px;
  text-transform: uppercase;
}
.hero p {
  font-size: 15px;
  font-family: abel;
  line-height: 29px;
  margin-bottom: 20px;
  max-width: 297px;
  letter-spacing: 0.7px;
}
.hero a {
  color: white;
  font-size: 16px;
  border-bottom: 1px solid white;
  font-family: helvetica-light;
}

/*Products */
.products__inner {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: nowrap;
  padding: 0;
}
.products__inner__single:hover .products__inner__single__slider {
  visibility: visible;
}
.products__inner__single.hidden{
  visibility: hidden;
}
.products__inner__single {
  flex: 1;
  background: url("./img/product-bd.svg") no-repeat;
  position: relative;
  background-size: cover;
  overflow: hidden;
  min-width: 200px;
  min-height: 375px;
}
.products__inner__single .bags {
  display: none;
}
.products__inner__single .bags.active {
  display: block;
}
.products__inner__single__details {
  display: flex;
  position: absolute;
  bottom: 30px;
  padding: 0 20px;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  font-size: 10px;
}
.products__inner__single__details h3 {
  font-family: helvetica-light;
  font-size: 16px;
  font-weight: 40;
}
.products__inner__single__details .buttons i {
  color: blue;
  border: 0.5px solid rgb(221, 217, 217);
  border-radius: 50%;
  position: relative;
}
.products__inner__single__details .buttons i:hover {
  cursor: pointer;
}
.products__inner__single__details .buttons i.active::after {
  content: "";
  width: 10.1px;
  height: 1px;
  position: absolute;
  bottom: -3.3px;
  background-color: #000;
  left: 0.15px;
}
.products__inner__single__slider {
  position: absolute;
  display: flex;
  width: 100%;
  top: 45%;
  justify-content: space-between;
  padding: 0 30px;
  visibility: hidden;
}
.products__inner__single__slider i:hover {
  cursor: pointer;
}
.products__inner__single__img {
  background: url("./img/product-bd.svg") no-repeat;
  position: absolute;
  transition: 0.7s ease-in-out;
  width: 100%;
  height: 100%;
}
.products__inner__single__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.products__inner__single__img video {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*Product Bottom*/
.pro_btm {
  padding: 35px 0;
  border-top: 1px solid #eae4e4;
  border-bottom: 1px solid #eae4e4;
}
.pro_btm__inner {
  padding: 0 55px;
}
.pro_btm h2 {
  font-weight: normal;
  font-family: helvetica-light;
  font-size: 16px;
}
.pro_btm h2 a:hover {
  text-decoration: underline;
}

/*footer*/
.footer {
  border-bottom: 1px solid #eae4e4;
  padding: 50px 0;
  padding-bottom: 25px;
}
.footer .underline {
  text-decoration: underline;
}
.footer ul li {
  margin-bottom: 20px;
}
.footer ul li a {
  font-family: helvetica-light;
  color: #242323;
  font-size: 13.5px;
  letter-spacing: 0.3px;
}
.footer h4 {
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 40px;
  font-size: 12px;
  letter-spacing: 1.5px;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  padding: 0 55px;
}
.footer__inner__single {
  flex: 1;
}

/*footer bottom*/
.sub_footer {
  padding: 50px 0;
}
.sub_footer__inner__top {
  display: flex;
  justify-content: space-between;
}
.sub_footer__inner__top__left a {
  text-decoration: underline;
  margin-left: 9px;
}
.sub_footer__inner__bottom {
  text-align: center;
}
.sub_footer__inner__bottom h2 {
  margin-top: 45px;
  letter-spacing: 1px;
  font-size: 23px;
}
.sub_footer__inner ul {
  display: flex;
  gap: 40px;
}
.sub_footer__inner ul li a {
  font-family: helvetica-light;
  color: #242323;
  font-size: 13.5px;
  letter-spacing: 0.3px;
}/*# sourceMappingURL=style.css.map */